{%load static%}
<nav class="navbar  navbar-light bg-light" >
  <div class="container-fluid" >
    <div class="navbar-header m-1">
        <a class="navbar-brand" href="{%url 'home'%}">
            <img src="{% static 'images/logo-hr.png' %}" alt="Rekognispa" width="200">
        </a>
    </div>
    
      <!-- <ul class="nav navbar-right">
        <li class="nav-item bg-primary  text-light mx-1 rounded" >
          <a class="nav-link text-light" href="{% url 'account_login' %}">Log In</a>
        </li>
        <li class="nav-item bg-primary text-white mx-1 rounded">
          <a class="nav-link text-light" href="{% url 'account_signup' %}">Register</a>
        </li>
      </ul> -->
    </div>

</nav>