{%load static%}
<nav class="navbar  navbar-light bg-light" >
  <div class="container-fluid" >
    <div class="navbar-header">
        <a class="navbar-brand" href="{%url 'home'%}">
            <img src="{% static 'images/logo-hr.png' %}" alt="Rekognispa" width="200">
        </a>
    </div >
    <div class="navbar-header">
      <ul class="nav navbar-right">
        <li class="nav-item  mx-1 ">
          <a class="nav-link text-primary border-primary text-uppercase" href="{% url 'face_list' %}">Face Detection</a>
        </li>
        <li class="nav-item  mx-1">
            <a class="nav-link text-primary border-primary text-uppercase" href="{% url 'home' %}">Add Record</a>
        </li>
        <li class="nav-item  mx-1 ">
          <a class="nav-link text-primary border-primary" href="{% url 'home' %}">Hi, {{ user.username }}!</a>
        </li>
        <li class="nav-item mx-1" >
          <a class="nav-link text-danger border-primary text-uppercase" href="{% url 'account_logout' %}">Log Out</a>
        </li>
      </ul>
    </div>
    </div>
</nav>